<h4>さんの会員情報編集</h4>

<%= form_with model: @customer,url: do |f| %>
<div class="form-group"> <label>氏名</label>
 <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"氏名", class: "form-control" %>
</div>
<div class="form-group"> <label>フリガナ</label>
 <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"氏名", class: "form-control" %>
</div>