<h4>ショッピングカート</h4>
<table> 
  <thead>
      <th>単価(税込)</th>
      <th>小計</th>
  </thead>
  <tbody>
  <% @cart_item.each do |cart_item| %>
      <tr>
          <td><%= cart_item.item.with_tax_price%></td>
          <td><%= (cart_item.item.price * 1.1).floor * cart_item.amount %></td>
          <% @合計金額 +=  (cart_item.item.price * 1.1).floor * cart_item.amount %>
      </tr>
  <% end %>
  </tbody>
</table>