<h3>商品一覧</h3>
<div class="container px-5 px-sm-0">
<div class="row">
 <div class="col-md-3" "offset-md-1">
  <div class="d-flex flex-row bd-highlight mb-3">
   <% @item.each do |item| %>
   
    
      <div class="p-2 bd-highlight">
       <%= link_to item_path(item.id) do %> 
       <%= image_tag item.get_image(100,100) %>
     
      <%= item.name %>
      <%= item.price %>円
      </div>
     <% end %>
    
   
   <% end %>
  </div>
 </div>
</div>
</div>